
.navbarss{
    width: 100%;
    position: relative;
    top: 20px;

    
}

.nav-ul{
    display: flex;
    align-items: center;
  
    justify-content: center;
    color: black;
    justify-content: space-between;
    gap: 150px;
  }
  .nav-ul li{
    list-style: none;
    
  }
  .nav-ul a{
    color: black;
    text-decoration: none;
  }
  .left-nav{
    display: flex;
    gap: 15px;
  }
  .right-nav{
    display: flex;
    gap: 15px;
  }
